---
---
hr {
    stroke-width: 100%;
}

body {
    margin: 0;
    background-image: url("/assets/background.png");
    background-size: 0.625%;
    image-rendering: pixelated;
    text-align: center;
}

.nav-bar {
    height: fit-content;
    background-color: #aeeea3;
}

.nav-bar:after {
    content: "";
    background-image: url("/assets/border.png");
    height: 20px;
    display: block;
    background-size: 1%;
    background-repeat: repeat-x;
    background-position: center bottom;
}

.nav-bar > ul {
    list-style-type: none;
    margin: auto;
    width: fit-content;
    padding: 0;
    overflow: hidden;
}

.nav-bar > ul > li {
    float: left;
    height: fit-content;
}

#title {
    font-weight: bolder;
    margin-top: 7%;
    margin-bottom: 0%;
    font-size: 30px;
}

.nav-bar > ul > li > p {
    line-height: 50%;
    display: block;
    text-align: center;
    padding: 14px 14px;
    text-decoration: none;
}

.profile {
    width: 15%;
}

.main {
    height: 2%;
    width: 55%
}

.post-list {
    flex: 0.5;
}

.container {
    background-color: whitesmoke;
    border: dashed gray;
    overflow: scroll;
}

.containers {
    margin-top: 10px;
    margin-left: 9.5%;
    gap: 3%;
    display: flex;
}