<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width">
        <title>sandiwch!</title>
        <link rel="stylesheet" href="/assets/css/styles.css">
    </head>
    <body>
        <div class="nav-bar">
            <ul>
                <li>
                    <p id="title"><a href="/">{{site.title}}</a></p>
                </li>
                {% for page in site.pages %}
                {% if page.title %}
                <li>
                    <p><a href="{{page.url}}">{{page.title}}</a></p>
                </li>
                {% endif %}
                {% endfor %}
            </ul>
        </div>

        <div class="containers">
            <div class="profile container">
                <h1>me!</h1>
                hi! i'm sandiwch/pickelodeons/nickelodeon222/other names i've used in the past.

                <ul style="text-align: left;">
                    <li>
                        <a href="https://tumblr.sandiwch.com">tumblr</a>
                    </li>
                    <li>
                        <a href="https://youtube.com/@nickelodeon2226">youtube</a>
                    </li>
                    <li>
                        <a href="/feed.xml">rss</a>
                    </li>
                </ul>
            </div>

            <div class="main container">
                {{ content }}
            </div>
    
            {% include post-container.html %}
        </div>
    </body>
</html>